.contact-form {
/*   border: 1px solid red; */
  width: 60%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #dddddd;
  margin-top: 20px;
  padding-bottom: 50px;
  gap: 20px;
}
.contact-form h1 {
  font-family: 'Karla';
  font-size: 5vh;
  font-weight: bold;
  margin-bottom: 0;
}
.contact-form p {
  font-family: 'Karla';
  font-size: 20px;
  color: var(--dark-gray);
}
.contact-form-divs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.contact-form-div {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  gap: 10px;
  width: 100%;
}
.contact-form label {
  font-family: 'Karla';
  font-size: 25px;
  font-weight: bold;
  color: blue;
  margin: 0;
}
.contact-form label h4 {
  margin: 0;
  padding-bottom: 10px;
}
.contact-form input,
.contact-form textarea {
  border-radius: 8px;
  background-color: var(--primary-gray);
  border: 0.5px solid var(--secondary-gray);
  font-size: 2vh;
  padding: 3% 5%;
  width: 90%;
  height: 5vh;
}
.contact-form-item input:focus {
  border: 1px solid red;
}
.contact-form-item input::placeholder,
.contact-form-item textarea::placeholder{
  font-family: 'Karla';
}
.contact-form textarea {
  width: 96%;
  padding: 1% 2%;
  resize: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
/* .notes {
  width: 97%;
  height: 10vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
} */
.notes::placeholder {
  text-align: start;
  font-family: 'Karla';
}
/* .contact-input-error {
  border: 1px solid red;
}
.contact-error-text {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: red;
} */
/* Media Queries  */


@media (max-width:430px) {
  .contact-form {
    width: auto;
    padding: 25px;
    margin: 0;
    border: 1px solid green;
  }
  .contact-form h1 {
    font-size: 3.5vh;
    margin-top: 0px;
  }
  .contact-form p {
    font-size: 1.5vh;
  }
  .contact-form-texts {
    display: flex;
    flex-direction: column;
  }
  .contact-form-item textarea {
    width: 90%;
  }
  .contact-form-item label {
    font-size: 2.25vh;
  }
  .inputs {
    width: 90%;
  }
}