.header {
  display: flex;
  background-color:white;
  height: 10vh;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header img {
  width: 226px;
  height: 62px;
}

/* Media Queries */

/* @media (max-width: 430px) {
  header {
    border: 1px solid red;
  }
} */