.header {
  display: flex;
  background-color:white;
  height: 100px;
  width: 920px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.header img {
  width: 226px;
  height: 62px;
}