.homepage-container {
  border: 1px solid red;
}
.intro-section {
  background-color: var(--primary-green);
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}