.selection-section {
/*   height: 60vh; */
  border: 1px solid red;
  font-family: 'Karla';
}

/* Media Queries */

@media (max-width:430px) {
  .selection-section {
    width: 428px;
    border: 1px solid red;
    }
  }