.summary-section {
  width: 100%;
  background-color: var(--primary-green);
  display: flex;
  justify-content: center;

}
.summary-section-container {
  width: 60%;
  margin-top: 30px;
}
.summary-section-container h1 {
  font-family: 'Karla';
  font-size: 5vh;
  font-weight: bold;
  margin-bottom: 0;
}
.summary-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.summary-item {
  display: flex;
  justify-content: space-between;
  font-family: 'Karla';
  font-size: 2.5vh;
  border-bottom: 1px solid black;
}
.summary-item > p:first-child {
  color: var(--primary-yellow);
}
.summary-item p  {
  font-weight: bold;
}
.summary-notes {
  font-size: 2vh;
}
.reservation-button:hover {
  cursor: pointer;
  background-color: var(--hover-yellow);
}
.reservation-button:active {
  background-color: var(--primary-green);
  color: var(--primary-gray);
}

/* Media Queries */

@media (max-width:430px) {
  .summary-section {
    width: auto;
    height: 50vh;
    border: 1px solid red;
    padding: 25px;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }
    .summary-section-container {
      width: 100%;
      margin-top: 0;
    }
    .summary-section-container h1 {
      font-size: 3.5vh;
      margin: 0;
    }
    .summary-item {
      font-size: 2.25vh;
      padding-top: 25px;
      padding-bottom: 10px;
    }
    .summary-item p  {
      margin: 0;
    }
    .summary-notes {
      width: 70%;
      text-align: end;
      font-size: 2vh;
    }
    .reservation-button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }