.testimonials-section {
  background-color: var(--primary-gray);
  width: 100%;
  height: 50vh;                                                  
  padding: 10vh 0;
  display: flex;
  align-items: center;
}
.testimonials-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.testimonials-container h1 {
  font-family: 'Markazi Text';
  font-size: 3.5vw;
  margin: 0;
  padding: 5vh;
  color: var(--primary-green);
}
.testimonials-cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.testimony-description {
  font-size: 2vw;
}